/* Reset + Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}
.logo {
    width: 110px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}
nav ul li {
    cursor: pointer;
    font-size: 16px;
}

/* Hero */
.hero {
    height: 80vh;
    background: url('icon/header-image.png') center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero .overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.hero-content {
    position: relative;
    z-index: 1;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 12px;
}
.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.btn {
    background: red;
    border: none;
    padding: 10px 22px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}
/* Movie Rows */
.movie-row {
    padding: 40px 32px;
}
.movie-row h2 {
    margin-bottom: 16px;
    font-size: 24px;
}
.movie-cards {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.movie-cards img {
    border-radius: 4px;
    transition: transform 0.3s;
}
.movie-cards img:hover {
    transform: scale(1.1);
}


/*Footer*/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 100px;
  gap:10px;
}
.plan{
  height:50px;
  width:120px;
  background-color: red;
  border:none;
  border-radius: 5px;
  font-size: 18px;
}
.choose{
  font-size: 25px;
  font-weight: bold;
}
.plan a{
  text-decoration: none;
  color:white;
}
.plan:hover{
  background-color: rgb(219, 17, 17);
}

.copyright{
    display: flex;
    font-size:20px;
    font-weight: bold;
    margin-bottom: -20px;
}