body{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  border-bottom:1px solid rgb(204, 193, 193);
  height:50px;
  padding: 10px 20px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height:25px;
  width:100px;
}
header button{
  background-color: white;
  height:30px;
  width:60px;
  border:none;
  border-radius: 4px;
}
header button:hover{
  background-color: rgb(209, 202, 202);
}

.conditions{
  height:180px;
  font-size:18px;
  font-weight: 500;
}
.conditions div{
  display: flex;
  align-items: center;
}
.conditions div svg{
  margin-right: 10px;
}
.conditions p{
  margin:13px;
}
main{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin-left: -170px;
  margin-top: 50px;
  padding-bottom:50px;
  border-bottom:2px solid gray;
}
.step{
  margin-left: -90px;
}
.complete span{
  font-size:18px;
}
.plan{
  font-weight: bold;
  font-size: 33px;
  margin: 0 0 30px 0;
}

.next{
  width:400px;
  height:60px;
  margin-left: 40px;
  background-color: rgb(245, 52, 52);
  border:none;
  color:white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.8s ease;
}
.next:hover{
  background-color: rgb(163, 3, 3);
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 30px;
  margin-left: 50px;

  margin-bottom: 7vh;
}
.grid a{
    color:rgb(82, 76, 76);
}
.question{
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.copyright{
  justify-content: center;
  display:flex;
  font-size:30px;
  font-weight:bold;
  color:rgb(163, 156, 156);
}