body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top,#2805ee,rgb(221, 0, 221));
}
.btn{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  height:27vh;
  width:35vh;
  column-gap: 3px;
  row-gap: 3px;
}
.btn button{
  border-radius: 5px;
  border:none;
  font-size: 15px;
  font-weight: bold;
}
button:hover{
  background: linear-gradient(to right,rgb(228, 8, 8),black);
  color: white;
}
#display{
  height:60px;
  width: 220px;
  margin-bottom: 10px;
  border-radius: 5px;
  border:none;
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
  background: linear-gradient(to top,green,rgb(221, 126, 1));
  color:white;
}
.cal{
  background-color: gray;
  border-radius: 5px;
  width: 225px;
  padding: 20px;
}
.zero{
  grid-column: span 2;
}
.equal{
  background-color: rgb(255, 208, 0);
}

.copyright{
 font-size: 20px; 
 font-weight: bold;
 margin-bottom: 0;
 border-radius: 5px;
 background:linear-gradient(to top,rgb(184, 1, 174),rgb(1, 194, 1));
}
.copyright a{
  text-decoration: none;
  color: rgb(211, 201, 201);
}